@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*Estilos del form*/

.form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
    background: linear-gradient(90deg, #72C6EF 0%, #004E8F 100%);
    border-radius: 5px;
}

.form-data{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.form-item{
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.form-img{
    width: 400px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}

/*Animaciones*/

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes agrandar{
    0%{
        transform: scale(1,1);
    }
    40%{
        transform: scale(1.15,1.15);
    }
    100%{
        transform: scale(1,1);
    }
}