@mixin flexRow($justify) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;    
}

@mixin flexCol($justify) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;    
}