/*Cards de Servicios y conocenos*/
$color-servicio: linear-gradient(90deg, #FF4E50 0%, #F9D423 100%);
$color-conocenos: gray;
@import '../utilities/mixins';

@mixin sizes($width,$height) {
    width: $width;
    height: $height;
}

.flex-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conteiner{
    color: azure;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    @include flexRow(space-around);
    align-items: center;
}

.card-conteiner-servicio{
    background: $color-servicio;
    width: 800px;
}

.card-conteiner-conocenos{
    background: $color-conocenos;
    width: 850px;
}

.text-conteiner{
    margin: 20px;
}

.text-conteiner-sm{
    width: 300px;
    text-align: center;
}

.text-conteiner-lg{
    width: 600px;
    text-align: start;
}

@media only screen and (max-width: 768px){
    .card-conteiner{
        flex-direction: column;
        justify-content: center;
    }
    .card-conteiner-servicio{
        @include sizes(300px,350px );
    }

    .card-conteiner-conocenos{
        @include sizes(300px, 550px);
    }

    .img-conocenos{
        width: 100px;
    }

    .text-conteiner{
        margin: 10px;
    }

    .name-conocenos{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text-conteiner-lg{
        width: 280px;
    }
}