/*Header*/
@import '../utilities/variables';
@import '../utilities/mixins';

.header-grid{
    grid-area: header;
}

header{
    @include flexRow(space-between);    
    align-items: center;
    background-color: $color-negro;
    color: $color-blanco;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
    img{
        width: 80px; 
        height: 80px;
    }
}

nav{
ul{
    margin: 0px;
    padding-right: 50px;
    li {
        list-style: none;
        display: inline;
        padding-right: 10px;
        a{
            text-decoration: none!important;
            color: $color-blanco!important;
        }
    }
}
}

.check{
    display: none;
}

.menu{
    display: none;
}

.cerrar{
    display: none;
}

@media only screen and (max-width: 768px) {

    nav{
        display: block;
        z-index: 9000;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 0vw;
        height: 0vh;
        overflow: hidden;
        background-color:  #004E8F;
        ul{ 
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding-left: 20px;
            padding-right: 10px;
            li {
                margin-top: 10px;
                margin-bottom: 10px;   
                color: white; 
                a{
                    text-decoration: none!important;
                    
                }            
            }
        }

    }

    .menu{
        display: block;
        width: 30x;
        height: 30px;
        filter: invert(1);
    }

    .check:checked ~ nav{
        width: 100vw;
        height: 100vh;
        transition: width 1.5s;
        overflow-y: hidden;
    }

}